/* Info card */

.prfpage-info-card{
    width: 21vw;
    height: fit-content;
    position: fixed;
    top: 2vh;
    right: 5vw;    
    border: 2px solid rgba(59, 58, 54, 1);
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgb(179, 176, 176);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title{
    color: rgba(59, 58, 54, 1);
    font-size: 1.2rem;
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 38vh;
    margin-top: 1vh;
}

.info-details{
    display: flex;
}

.info-details h3:nth-child(1) {
    color: rgba(59, 58, 54, 1);
    font-weight: bold;
    font-size: 1rem;
    margin-left: 1vw;
}

.info-details h3:nth-child(2) {
    color: rgba(59, 58, 54, 1);
    font-weight: lighter;
    font-size: 1rem;
    margin-left: 0.5vw;
}

.prfpage-info-card button{
    color: rgb(255, 255, 255);
    width: 6vw;
    height: 4.5vh;
    font-weight: bold;
    border: 0px;
    background-color: rgba(59, 58, 54, 1);
    transition: 0.5s ease;
    margin: 1vh 0;
}

.prfpage-info-card button:hover{
    transform: scale(1.1);
}

/* Modal */

.modal{
    width: 35vw;
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 27vw;
    background-color: rgba(59, 58, 54, 1);
    color: antiquewhite;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgb(167, 163, 163);
}

.modal-content{
    height: 68vh;
    display: flex;
    flex-direction: column;
    width: 35vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.close{
    font-size: 2rem;
    width: 2vw;
    height: 3vh;
    margin-left: 1vw;
}

.modal h2{
    text-align: center;
    font-size: 1.5rem;
}

.modal-content div{
    position: relative;
    width: 20vw;
    height: 6vh;
}

.modal-content input, textarea{
    width: 20vw;
    height: 6vh;
    border: 2px solid rgba(237, 234, 229, 1);
    background-color: rgba(59, 58, 54, 1);
    border-radius: 0.3rem;
    outline: none;
    color: rgba(237, 234, 229, 1);
    transition: 0.5s ease;
    text-align: center;
}

.modal-content span{
    position: absolute;
    pointer-events: none;
    font-size: 0.9rem;
    color: rgba(237, 234, 229, 1);
    text-transform: uppercase;
    transition: 0.5s ease; 
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.modal-content input:valid ~ span,
.modal-content input:focus ~ span{
    color: rgba(237, 234, 229, 1);
    transform: translateX(-7vw) translateY(-23px);
    font-size: 0.7rem;
    padding: 0 0.6rem;
    background: rgba(59, 58, 54, 1);
    border-left: 2px solid rgba(237, 234, 229, 1);
    border-right: 2px solid rgba(237, 234, 229, 1);
} 

.modal-content button{
    color: rgba(59, 58, 54, 1);
    width: 7vw;
    height: 5vh;
    font-weight: bold;
    border: 0px;
    font-size: 0.7rem;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s ease;
}

.modal-content button:hover{
    transform: scale(1.1);
}