.carousel{
    position: relative;
    width: 45vw;
    height: 99.7vh;
}

.carousel-img{
    width: 45vw;
    height: 99.7vh;
}

.dots{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1.5vh; 
    left: 20vw;
}

.dot{
    width: 0.9vw;
    height: 0.9vw;
    background-color: rgba(100, 100, 100, 1);
    border-radius: 50%;
    margin: 0 0.4vw;
    cursor: pointer;
}

.dot.active{
    background-color: rgba(231, 231, 231, 1);
}
