@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&family=Kalnia:wght@500&family=Kanit:wght@500&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inria Sans", sans-serif;
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-box{
    max-width: 100vw;
    height: fit-content;
}

.search-box{
    margin: 2vh 0 4vh 0;
    width: 25vw;
    height: 6vh;
    border: 0px;
    font-size: 15px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid rgba(228, 222, 222, 1);
    color: rgba(59, 58, 54, 1);
    outline: none;
}


/* Posts card */

.posts-container{
    margin-left: 22vw;
    width: 47vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(228, 222, 222, 1);
}

.post{
    max-width: 47vw;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgba(228, 222, 222, 1);
}

.post-img{
    width: 32vw;
    height: 50vh;
    margin-top: 4vh;
}

.post-icons{
    width: 18vh;
    height: 10vhx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh 23vw 0 0;
    
}

.post-icon{
    width: 24px;
    height: 24px;
}

.likes{
    color: rgba(59, 58, 54, 1);
    margin: 1vh 27vw 0 0;
    
}

.caption{
    color: rgba(59, 58, 54, 1);
    display: flex;
    margin: 0.5vh 0 0 3.5vw;
    width: 35vw;
}

.post-name{
    font-size: 17px;
    font-weight: 900;
}

.post-caption{
    font-size: 15px;
    font-weight: lighter;
    margin-left: 0.5vw;
}

/* Profile card */

.profile-card{
    width: 21vw;
    height: 50vh;
    position: fixed;
    top: 2vh;
    right: 5vw;    
    border: 2px solid rgba(59, 58, 54, 1);
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgb(179, 176, 176);
}

.prf-img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 6vh 0 1vh 8vw;
}

.prf-name{
    font-size: 14px;
    text-align: center;
}

.prf-username{
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
}

.lines{
    width: 19vw;
    height: 12vh;
    margin: 5vh 0 0 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top-line{
    border: 1px solid rgba(59, 58, 54, 1);
    width: 19vw;
    height: 0;
}

.numOfFollwers{
    text-align: center;
    position: absolute;
    right: 13vw;
    top: 31vh;
    font-size: 14px;
}

.middle-line{
    border: 1px solid rgba(59, 58, 54, 1);
    width: 0;
    height: 9vh;
}

.numOfFollwing{
    text-align: center;
    position: absolute;
    right: 3vw;
    top: 31vh;
    font-size: 14px;
}

.bottom-line{
    border: 1px solid rgba(59, 58, 54, 1);
    width: 19vw;
    height: 0;
}

.prf-btn{
    border: 1px solid red;
    width: 21vw;
    height: 8vh;
    border-radius: 0 0 6px 6px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(59, 58, 54, 1);
    margin-top: 1.7vh;
    background-color: rgb(255 255 255);
    border: 0;
}