.login-page{
    display: flex;
    background-color: rgba(46, 46, 46, 1);
}

.carousel{
    position: relative;
    width: 45vw;
    height: 99.7vh;
}

.carousel-img{
    width: 45vw;
    height: 99.7vh;
}

.dots{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px; 
    left: 20vw;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: rgba(100, 100, 100, 1);
    border-radius: 50px;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active{
    background-color: rgba(231, 231, 231, 1);
}

.login-div{
    width: 65vw;
    height: 99.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    background: rgba(237, 234, 229, 1);
    width: 30vw;
    height: 70vh;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8vh;
}

.login-title{
    color: rgba(59, 58, 54, 1);
    font-size: 25px;
}

.input-box{
    position: relative;
    width: 23vw;
}

.input-box input{
    width: 21vw;
    padding: 10px;
    border: 1px solid rgba(59, 58, 54, 1);
    background-color: rgba(237, 234, 229, 1);
    border-radius: 5px;
    outline: none;
    color: rgba(59, 58, 54, 1);
    transition: 0.5s ease;
}

.input-box span{
    position: absolute;
    left: 0.6vw;
    padding: 11px;
    pointer-events: none;
    font-size: 12px;
    color: rgba(59, 58, 54, 1);
    text-transform: uppercase;
    transition: 0.5s ease;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span{
    color: rgba(59, 58, 54, 1);
    transform: translateX(10px) translateY(-7px);
    font-size: 10px;
    padding: 0 10px;
    background: rgba(237, 234, 229, 1);
    border-left: 1px solid rgba(59, 58, 54, 1);
    border-right: 1px solid rgba(59, 58, 54, 1);
}

.input-box input:focus{
    border: 2px solid rgba(59, 58, 54, 1);
}

.login-btn{
    width: 11vw;
    height: 6vh;
    letter-spacing: 3px;
    color: rgba(237, 234, 229, 1);
    background-color: rgba(46, 46, 46, 1);
    font-style: normal;
    border: 0px;
    font-size: 15px;
    transition: 0.5s ease;
}

.login-btn:hover{
    transform: scale(1.1);
}


.signup-text{
    font-size: 15px;
    font-weight: lighter;
    color: #000;
}