.login-page{
    display: flex;
    background-color: var(--color2);
}

.login-div{
    width: 65vw;
    height: 99.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    background: rgba(237, 234, 229, 1);
    width: 30vw;
    height: 70vh;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 7vw;
    gap: 8vh;
}

.login-title{
    color: var(--color1);
    font-size: 1.8rem;
}

.input-box{
    position: relative;
    width: 23vw;
}

.input-box input{
    width: 21vw;
    padding: 0.6rem;
    border: 1px solid var(--color1);
    background-color: rgba(237, 234, 229, 1);
    border-radius: 0.3rem;
    outline: none;
    color: var(--color1);
    transition: 0.5s ease;
}

.input-box span{
    position: absolute;
    left: 0.6vw;
    padding: 0.68rem;
    pointer-events: none;
    font-size: 0.75rem;
    color: var(--color1);
    text-transform: uppercase;
    transition: 0.5s ease;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span{
    color: var(--color1);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.7rem;
    padding: 0 0.6rem;
    background: rgba(237, 234, 229, 1);
    border-left: 1px solid var(--color1);
    border-right: 1px solid var(--color1);
}

.input-box input:focus{
    border: 2px solid var(--color1);
}

.login-btn{
    width: 11vw;
    height: 6vh;
    letter-spacing: 3px;
    color: rgba(237, 234, 229, 1);
    background-color: var(--color2);
    font-style: normal;
    border: 0;
    font-size: 0.9rem;
    transition: 0.5s ease;
}

.login-btn.loading {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
.login-btn:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.login-btn:hover{
    transform: scale(1.1);
}


.signup-text{
    font-size: 0.9rem;
    font-weight: lighter;
    color: #000;
}